/**
 * @author Alec Gorge
 * @year 2011
 * @powered-by Eponymous by R.E.M
 */

/* global styles */
body {
	margin:0;
	padding:0;
	font:16px Arial,sans-serif;
	height:110%;
	background:#411B18;
	overflow-y:hidden;
}

#canvas {
	background: #57191A;
	padding:0;
	overflow-x:auto;
	overflow-y:hidden;
	box-shadow: 0 0 17px 0px #000;
	color:white;
}

/* header */
#header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	box-shadow: 0 0 17px 0px #000;
	background-image:-moz-linear-gradient(#310000, #2b090a);
}

#header h1 {
	padding-top:10px;
	color:#FBBC0F;
	font-weight:normal;
	font-family:Georgia,serif;
	margin:0;
	font-size:45px;
}
#header p {
	padding-bottom:10px;
	text-transform:uppercase;
	color:#ccc;
	font-weight:bold;
	letter-spacing:2px;
	font-size:14px;
	margin:0;
	padding-top:10px;
}

/* navigaiton */
#navigation {
	float:left;
	position:absolute;
}

#nav, #nav li {
	list-style:none;
	padding:0;
	margin:0;
}

#nav li {
	float:left;
}

#nav li a {
	display:block;
	float:left;
	padding:5px;
	font-size:19px;
	line-height:19px;
	padding:40px 45px;
	outline: 0;
	text-decoration:none;
	background-color:rgba(0,0,0,0.2);
	border-bottom:1px #340303 solid;
	color:white;
}

#nav li a:hover, #nav li a:focus, #nav li a:active, #nav li a.active {
	background-image:-moz-linear-gradient(#732121, #5E1C1D);
	outline: 0;
}

/* grid view styles */
#people {
	margin:0;
	padding:0;
	margin-top:100px;
	display:table-row;
}

.class {
	padding-left:46px;
	display:table-cell;
	margin:0;
	padding:0;
	padding-top:100px;
	list-style:none;
}

.class:nth-child(2n) {
	background:rgba(0,0,0,0.15);
}

.class .title-bar {
}

.title-bar {
	padding:0;
	color:#000;
	font-weight:bold;
	width:100%;
	position:relative;
	z-index:999;
}

.title-bar span {
	display:inline-block;
	padding:15px;
	position:relative;
}

.grid {
	
}

.grid, .grid td {
	list-style:none;
	padding:0;
	margin:0;
}

.grid td a {
	display:block;
	float:left;
	width:190px;
	padding:15px 10px;
	-moz-border-radius:10px;
	text-decoration:none;
	border:0;
	border-radius:10px;
}

.grid td a:hover, .grid td a:focus, .grid td a:active {
	outline:0;
	background:rgba(0,0,0,.3);
}

.grid td {
}

.grid td .thumb-person {
	min-width:96px;
	height:128px;
	text-align:center;
	display:block;
	background:transparent url('../images/no-photo-funny.png') no-repeat center center;
}
.grid td .name {
	display:block;
	text-align:center;
	color:white;
	overflow:hidden;
	padding-top:7px;
	font-size:10px;
}

/* dialog styles */
#overlay {
	width:100%;
	height:100%;
	background:rgba(0,0,0,.3);
	position:fixed;
	top:0;
	left:0;
	z-index:20000;
	display:none;
}

.modal {
	z-index:20000;
	position:fixed;
	-moz-border-radius:10px;
	top:50px !important;
}

.modal .close {
	position:absolute;
	z-index:20000;
	top:0;
	right:0;
	padding:15px 20px;
	color:white;
	text-decoration:none;
}

.modal p {
	margin-bottom:0;
}

.modal img {
	max-height:600px;
}

.modal .gutter {
	padding:25px;
	padding-top:50px;
	background:rgba(0,0,0,.3);
	color:white;
	font-size:16px;
	text-align:center;
}

/* reusable, generic styles */
.maroon-gradient {
	background-image:-moz-linear-gradient(#732121, #5E1C1D);
	border-bottom:1px #451414 solid;
}
.dark-maroon-gradient {
	background-image:-moz-linear-gradient(#521818,#481616);
	border-bottom:1px #340303 solid;
}
.gold-gradient {
	background-image:-moz-linear-gradient(#FCD04B,#FBBC0F);	
}
.gray-gradient {
	background-image:-moz-linear-gradient(#F3F3F3, #E4E4E4);	
	border-bottom: 1px solid #C9C9C9;
	border-top: 1px solid #FFFFFF;
}


#searcher {
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:100px;
	left:0;
	width:100%;
	z-index:10000;
	display:none;/**/
}

#class-picker {
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:100px;
	left:0;
	width:100%;
	z-index:10000;
	display:none;
}

#class-list {
	list-style:none;
	padding-top:25px;
}

#class-list li {
	list-style:none;
	display:inline-block;
}

#class-list li a {
	display:inline-block;
	padding:30px 45px;
	font-size:20px;
	font-weight:bold;
	letter-spacing:-1px;
	background:#FCD04B;
	color:#732121;
	text-decoration:none;
	margin-right:30px;
	margin-bottom:30px;
	-moz-border-radius:5px;
}

#class-list li a:focus {
	background:#732121;
	color:#FCD04B;
}

#search {
	padding:15px;
	font-size:36px;
	display:block;
	width:1030px;
	margin:auto;  
}

#search-results {
	height:425px;
	margin-bottom:25px;
	overflow:auto;
}

body .ui-keyboard-button {
	width:3.5em;
	height:3.5em;
}

body .ui-keyboard-widekey {
	width:6em;
}

body .ui-keyboard-space {
	width:25em;
}

body .ui-keyboard-preview {
	visibility:none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#732121;
	color:#FCD04B;
	border:1px #621010 solid;
}

body .ui-keyboard-button:hover, body .ui-keyboard-button:active, body .ui-keyboard-button:focus {
	background:#FCD04B;
	color:#732121;
	border:1px #dbc03a solid;
}

.ui-widget-content {
	background:rgba(0,0,0,0.7);
	border:1px #000 solid;
	color:white;
}

#search-results {
	margin:0;
	padding:0;
}

#search-results li {
	list-style:none;
	margin:0;
	padding:0;
}

#search-results li a {
	text-decoration:none;
	color:white;
	padding:10px 30px;
	display:block;
}

#search-results li a .thumb-person {
	float:left;
	display:block;
	padding-right:10px;
}

.clear {
	display:block;
	clear:both;
}
